
.button{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.mainClass {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

:root {
    --size: 16;
}

.mainClass > div {
    flex: 1 0 calc(100%/ var(--size));
    height: calc(100%/ var(--size));
    box-sizing: border-box;
}


.colorClass {
    background-color: pink;
}