
.button{
    display: flex;
    justify-content: center;
    margin: 75px auto;
}
.mainClass {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
}

:root {
    --size: 16;
}

.mainClass > div {
    flex: 1 0 calc(100%/ var(--size));
    height: calc(100%/ var(--size));
    box-sizing: border-box;
}


.colorClass {
    background-color: pink;
}